.element {
  width: 150px;
  height: 150px;
  background-color: green;
/*  animation-name: tutsFade;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;*/
  -webkit-animation: tutsFade 4s 1s infinite linear alternate;
  -moz-animation: tutsFade 4s 1s infinite linear alternate;
  -ms-animation: tutsFade 4s 1s infinite linear alternate;
  -o-animation: tutsFade 4s 1s infinite linear alternate;
  animation:
    tutsFade 4s 1s infinite linear alternate,
    tutsRotate 4s 1s infinite linear alternate;;
}
/*
@-webkit-keyframes tutsFade {  }
@-moz-keyframes tutsFade { }
@-ms-keyframes tutsFade {  }
@-o-keyframes tutsFade {  }*/

@keyframes tutsFade {
  to {
    opacity: 0;
  }
}

@keyframes tutsRotate {
  to {
    transform: rotate(180deg);
  }
}
