/*******************************************************************

Base on "A Beginner’s Introduction to CSS Animation" by Catalin Miron
https://webdesign.tutsplus.com/tutorials/a-beginners-introduction-to-css-animation--cms-21068
develop an idea by me

*******************************************************************/

@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

div {
  position: absolute;
}
div.external {
  width: 200px;
  height: 200px;
  z-index: 1;
  background-color: #02779E;
  animation:
    square-to-circle 2s 1s 2 alternate;
}

div.internal {
  top: 20px;
  left: 20px;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  text-align: center;
  display: table;
  z-index: 3;
  background-color: #fff;
  animation:
    square-to-circle-smaller 2s 1s 2 alternate;
}

div.internal span {
  display: table-cell;
  vertical-align: middle;
  color: #02779E;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 20px;
  animation: hold-the-horizon 2s 1s 2 alternate;
}

section {
  position: relative;
  width: 250px;
  margin: 50px auto;
}

@keyframes square-to-circle {
  0% {
    border-radius:0 0 0 0;
    background: #02779E;
    transform:rotate(0deg);
  }
  25% {
    border-radius:50% 0 0 0;
    background: #8CB56B;
    transform:rotate(45deg);
  }
  50% {
    border-radius:50% 50% 0 0;
    background: #24BCA4;
    transform:rotate(90deg);
  }
  75% {
    border-radius:50% 50% 50% 0;
    background: #2BB2DD;
    transform:rotate(135deg);
  }
  100% {
    border-radius:50%;
    background: #8CB56B;
    transform:rotate(180deg);
  }
}

@keyframes square-to-circle-smaller {
  0% {
    border-radius:0 0 0 0;
    transform:rotate(0deg);
  }
  25% {
    border-radius:50% 0 0 0;
    transform:rotate(45deg);
  }
  50% {
    border-radius:50% 50% 0 0;
    transform:rotate(90deg);
  }
  75% {
    border-radius:50% 50% 50% 0;
    transform:rotate(135deg);
  }
  100% {
    border-radius:50%;
    transform:rotate(180deg);
  }
}

@keyframes hold-the-horizon {
  0% {
    transform:rotate(0deg);
  }
  25% {
    transform:rotate(-45deg);
  }
  50% {
    transform:rotate(-90deg);
  }
  75% {
    transform:rotate(-135deg);
  }
  100% {
    transform:rotate(-180deg);
  }
}
